<div class="jumbotron">
   <div class="container text-center mt-4">
      <h4 class="text-center text-monospace">
         <big>404</big>
         Error
      </h4>
      <h6 class="text-center text-monospace">Page not found</h6>

      <br>
      {{#if isAuth}}
         <h6 class="returnHome">Return to the <a href="/myaccount"> My Account</a></h6>
      {{else}}
         <h6 class="returnHome">Return to the <a href="/">Home Page</a></h6>
      {{/if}}
      
   </div>
</div>
