<div class="jumbotron">
    <h3 class="text-center">{{course.title}}</h3>
    <h5 class="text-center">{{course.text}}</h5>
</div>

<div class="container my-5">
    <img src="{{course.image}}" alt="{{course.title}}" class="shadow-lg img-thumbnail">
</div>