
<div class="newPasswordPage">
    <div class="row">

        <div class="col-md-5 col-12 container">
            {{#if error}}
                <div class="alert text-light text-center alert-dismissible bg-danger">
                    <button class="close" data-dismiss="alert">&times;</button>
                    {{error}}
                </div>
            {{/if}}

            <h3 class="text-center text-warning">Write New Password</h3>

            <form class="form mx-auto w-75" action="/auth/password" method="POST">
                <div class="form-group">
                    <label for="pass">New Password</label>
                    <input type="password" class="form-control" id="pass" name="pass" minlength="6" placeholder="enter a new password" required>
                </div>

                <div class="form-group">
                    <label for="pass">Confirm New Password</label>
                    <input type="password" class="form-control" id="repass" name="repass" minlength="6" placeholder="enter the password again" aria-describedby="emailHelp" required>
                    <small id="emailHelp" class="form-text"></small>
                </div>
                
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <input type="hidden" name="token" value="{{token}}">
                <input type="hidden" name="userId" value="{{userId}}">

                <button type="submit" class="btn btn-success float-right">Save</button>
            </form>
        </div>
    </div>
</div>